In [1]:
# import libraries using common alias names
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# check what version of packages are installed.
print("NumPy version",np.__version__, "pandas version ",pd.__version__, "seaborn version",sns.__version__  )  # '1.16.2'

# set print options with floating point precision if 4, summarise long arrays using threshold of 5, suppress small results
np.set_printoptions(precision=4, threshold=5, suppress=True)  # set floating point precision to 4
pd.options.display.max_rows=8 # set options to display max number of rows

NumPy version 1.16.2 pandas version  0.24.2 seaborn version 0.9.0

# Looking at values by Region

While the data for previous years included the Region as a separate variable to country, the later datasets did not.
Therefore I need to add these.
There are some countries not included in later years.
Note that some of the names of the countries are not the same.

In [2]:
# kaggle data for 2015 included the Region as well as the country
df15=pd.read_csv("data/world-happiness/2015.csv")
print(df15.shape)
df15.head(2)

(158, 12)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201

In [3]:
# read the data directly from the url or alternatively from the data folder in this repository
url="https://s3.amazonaws.com/happiness-report/2019/Chapter2OnlineData.xls"
# The entire data from Table2.1 sheet
WH = pd.read_excel(url, sheet_name='Table2.1')
# The data from the sheet Figure2.6, columns A to K
whr18 = pd.read_excel(url,sheet_name='Figure2.6', usecols="A:K")

In [4]:
whr18.shape

(156, 11)

In [5]:
whr18.head()

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.88) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,7.7689,7.829888,7.707912,2.713678,1.340243,1.587276,0.986145,0.595895,0.152708,0.392913
1,Denmark,7.6001,7.666658,7.533542,2.392891,1.383439,1.572595,0.996019,0.592356,0.252320,0.410473
2,Norway,7.5539,7.615639,7.492160,2.240764,1.487767,1.581548,1.028123,0.603500,0.271304,0.340884
3,Iceland,7.4936,7.613283,7.373917,2.400876,1.380163,1.623651,1.025653,0.590905,0.354356,0.117980
4,Netherlands,7.4876,7.542098,7.433102,2.392895,1.396020,1.521903,0.999314,0.557075,0.322440,0.297978

# Add region column to whr18 using kaggle data from 2015

In [7]:
df15.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [9]:
whr18.head()

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.88) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,7.7689,7.829888,7.707912,2.713678,1.340243,1.587276,0.986145,0.595895,0.152708,0.392913
1,Denmark,7.6001,7.666658,7.533542,2.392891,1.383439,1.572595,0.996019,0.592356,0.252320,0.410473
2,Norway,7.5539,7.615639,7.492160,2.240764,1.487767,1.581548,1.028123,0.603500,0.271304,0.340884
3,Iceland,7.4936,7.613283,7.373917,2.400876,1.380163,1.623651,1.025653,0.590905,0.354356,0.117980
4,Netherlands,7.4876,7.542098,7.433102,2.392895,1.396020,1.521903,0.999314,0.557075,0.322440,0.297978

In [10]:
Regions = df15.loc[:,['Country','Region']]

In [11]:
Regions.head()

       Country          Region
0  Switzerland  Western Europe
1      Iceland  Western Europe
2      Denmark  Western Europe
3       Norway  Western Europe
4       Canada   North America

In [20]:
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.join.html?highlight=join#pandas-dataframe-join
# need to set the index in order to join the two. df19 will be joined to CR based on the Country and Country or Region variables.
CountryRegionsdata=Regions.set_index('Country').join(whr18.set_index('Country'))

In [22]:
CountryRegionsdata.isna().sum()

Region                                        0
Happiness score                               8
Whisker-high                                  8
Whisker-low                                   8
                                             ..
Explained by: Healthy life expectancy         8
Explained by: Freedom to make life choices    8
Explained by: Generosity                      8
Explained by: Perceptions of corruption       8
Length: 11, dtype: int64

## Add region column to WH big data file

In [23]:
WH.head()

,Country name,Year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,...,GINI index (World Bank estimate),"GINI index (World Bank estimate), average 2000-16","gini of household income reported in Gallup, by wp5-year","Most people can be trusted, Gallup","Most people can be trusted, WVS round 1981-1984","Most people can be trusted, WVS round 1989-1993","Most people can be trusted, WVS round 1994-1998","Most people can be trusted, WVS round 1999-2004","Most people can be trusted, WVS round 2005-2009","Most people can be trusted, WVS round 2010-2014"
0,Afghanistan,2008,3.723590,7.168690,0.450662,50.799999,0.718114,0.177889,0.881686,0.517637,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,2009,4.401778,7.333790,0.552308,51.200001,0.678896,0.200178,0.850035,0.583926,...,NaN,NaN,0.441906,0.286315,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,2010,4.758381,7.386629,0.539075,51.599998,0.600127,0.134353,0.706766,0.618265,...,NaN,NaN,0.327318,0.275833,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,2011,3.831719,7.415019,0.521104,51.919998,0.495901,0.172137,0.731109,0.611387,...,NaN,NaN,0.336764,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,2012,3.782938,7.517126,0.520637,52.240002,0.530935,0.244273,0.775620,0.710385,...,NaN,NaN,0.344540,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
WHrc18=Regions.set_index('Country').join(WH.set_index('Country name'))

In [30]:
WHrc18.dtypes

Region                                              object
Year                                               float64
Life Ladder                                        float64
Log GDP per capita                                 float64
                                                    ...
Most people can be trusted, WVS round 1994-1998    float64
Most people can be trusted, WVS round 1999-2004    float64
Most people can be trusted, WVS round 2005-2009    float64
Most people can be trusted, WVS round 2010-2014    float64
Length: 26, dtype: object

In [28]:
WHrc18['Region'].isna().sum()

0

In [29]:
WHrc18.to_csv('WorldHappinessData2018.csv')

In [164]:
df15countries.isin(df18countries)
# see which countries are not in df15
print("The countries included in the 2015 data that are not in 2018 data: \n")
print(df15countries[~df15countries['Country'].isin(df18countries['Country or region'])])
print("The countries included in the 2018 data that are not in 2015 data: \n")
print(df18countries[~df18countries['Country or region'].isin(df15countries['Country'])])

The countries included in the 2015 data that are not in 2018 data:

                 Country
21                  Oman
39              Suriname
40   Trinidad and Tobago
65          North Cyprus
90     Somaliland region
92             Macedonia
117                Sudan
125             Djibouti
136               Angola
The countries included in the 2018 data that are not in 2015 data:

     Country or region
38   Trinidad & Tobago
63     Northern Cyprus
83     North Macedonia
111            Somalia
112            Namibia
119             Gambia
155        South Sudan

In [106]:
# save the dataframe with region added to a csv file
CR18.to_csv('CR18.csv')

In [136]:
df15countries=df15.loc[:,['Country']]
df18countries=df19.loc[:,['Country or region']]

In [152]:
df15countries.isin(df18countries)
# see which countries are not in df15
print("The countries included in the 2015 data that are not in 2018 data: \n")
print(df15countries[~df15countries['Country'].isin(df18countries['Country or region'])])
print("The countries included in the 2085 data that are not in 2015 data: \n")
print(df18countries[~df18countries['Country or region'].isin(df15countries['Country'])])

The countries included in the 2015 data that are not in 2018 data:

                 Country
21                  Oman
39              Suriname
40   Trinidad and Tobago
65          North Cyprus
..                   ...
92             Macedonia
117                Sudan
125             Djibouti
136               Angola

[9 rows x 1 columns]
The countries included in the 2085 data that are not in 2015 data:

     Country or region
38   Trinidad & Tobago
63     Northern Cyprus
83     North Macedonia
111            Somalia
112            Namibia
119             Gambia
155        South Sudan

In [154]:
# the values for 2018 with the region included as the index
CR18.sort_values('Overall rank').tail(10)

,Region,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country,,,,,,,,,
Central African Republic,Sub-Saharan Africa,155.0,3.083,0.026,0.0,0.105,0.225,0.235,0.035
Oman,Middle East and Northern Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Suriname,Latin America and Caribbean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Trinidad and Tobago,Latin America and Caribbean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
Macedonia,Central and Eastern Europe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sudan,Sub-Saharan Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Djibouti,Sub-Saharan Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Angola,Sub-Saharan Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [108]:
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.join.html?highlight=join#pandas-dataframe-join
# need to set the index in order to join the two. df19 will be joined to CR based on the Country and Country or Region variables.
whr18=CR.set_index('Country').join(whr18.set_index('Country'))

In [133]:
whr18.head()

,Region,Happiness score,Whisker-high,Whisker-low,Dystopia (1.88) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
Country,,,,,,,,,,,
Switzerland,Western Europe,7.4802,7.552696,7.407703,2.272114,1.452245,1.526279,1.051989,0.571514,0.263464,0.342616
Iceland,Western Europe,7.4936,7.613283,7.373917,2.400876,1.380163,1.623651,1.025653,0.590905,0.354356,0.117980
Denmark,Western Europe,7.6001,7.666658,7.533542,2.392891,1.383439,1.572595,0.996019,0.592356,0.252320,0.410473
Norway,Western Europe,7.5539,7.615639,7.492160,2.240764,1.487767,1.581548,1.028123,0.603500,0.271304,0.340884
Canada,North America,7.2781,7.356539,7.199661,2.192688,1.364896,1.504741,1.038812,0.583952,0.285020,0.308038

I now have the following dataframes:
- CR18:  containing the main variables for 2019 with the region added and country as the index.
- df19: the Kaggle CSV dataset that matches the report for 2019 (data to end 2018)
- WH: the larger data file with data from 2008 onwards used in the analysis by the researchers
- whr18: the data from the 2019 report matching the kaggle data but without the ranking order. I have added the region.
- WH18: the data from the larger sheet filtered for 2018

In [112]:
pd.pivot_table(CR18, values='Score', index=['Region'] )
pd.pivot_table(CR18, index=['Region'] )

,Freedom to make life choices,GDP per capita,Generosity,Healthy life expectancy,Overall rank,Perceptions of corruption,Score,Social support
Region,,,,,,,,
Australia and New Zealand,0.571000,1.337500,0.331000,1.031000,9.500000,0.335000,7.267500,1.552500
Central and Eastern Europe,0.357964,1.022429,0.141214,0.808500,70.500000,0.062750,5.571786,1.340393
Eastern Asia,0.372167,1.235167,0.172833,0.953333,64.833333,0.119667,5.688833,1.333500
Latin America and Caribbean,0.438500,0.908950,0.142600,0.816800,52.000000,0.074850,5.942550,1.332850
...,...,...,...,...,...,...,...,...
Southeastern Asia,0.543778,0.930000,0.301778,0.745333,85.111111,0.123444,5.273667,1.246444
Southern Asia,0.386286,0.650286,0.234714,0.617000,115.857143,0.093429,4.526857,0.986857
Sub-Saharan Africa,0.337278,0.451583,0.186806,0.412056,124.750000,0.088778,4.314611,0.920611
Western Europe,0.482550,1.362050,0.221050,1.013850,21.350000,0.221200,6.898400,1.483900

In [113]:
# groupby region and get the mean and std for each region
CR18.groupby(['Region']).agg([np.mean, np.std])

                            Overall rank                Score            \
                                    mean        std      mean       std
Region
Australia and New Zealand       9.500000   2.121320  7.267500  0.055861
Central and Eastern Europe     70.500000  27.369218  5.571786  0.591289
Eastern Asia                   64.833333  24.490134  5.688833  0.475940
Latin America and Caribbean    52.000000  31.299908  5.942550  0.740915
...                                  ...        ...       ...       ...
Southeastern Asia              85.111111  29.985182  5.273667  0.618107
Southern Asia                 115.857143  29.985711  4.526857  0.792778
Sub-Saharan Africa            124.750000  22.142880  4.314611  0.605761
Western Europe                 21.350000  21.945567  6.898400  0.679609

                            GDP per capita           Social support            \
                                      mean       std           mean       std
Region
Australia and New Zealand         1.337500  0.048790       1.552500  0.006364
Central and Eastern Europe        1.022429  0.216054       1.340393  0.217088
Eastern Asia                      1.235167  0.198254       1.333500  0.151923
Latin America and Caribbean       0.908950  0.203303       1.332850  0.174891
...                                    ...       ...            ...       ...
Southeastern Asia                 0.930000  0.309190       1.246444  0.141243
Southern Asia                     0.650286  0.210983       0.986857  0.297161
Sub-Saharan Africa                0.451583  0.282600       0.920611  0.278027
Western Europe                    1.362050  0.098971       1.483900  0.112391

                            Healthy life expectancy            \
                                               mean       std
Region
Australia and New Zealand                  1.031000  0.007071
Central and Eastern Europe                 0.808500  0.072981
Eastern Asia                               0.953333  0.167685
Latin America and Caribbean                0.816800  0.106190
...                                             ...       ...
Southeastern Asia                          0.745333  0.187816
Southern Asia                              0.617000  0.149389
Sub-Saharan Africa                         0.412056  0.156475
Western Europe                             1.013850  0.023576

                            Freedom to make life choices           Generosity  \
                                                    mean       std       mean
Region
Australia and New Zealand                       0.571000  0.019799   0.331000
Central and Eastern Europe                      0.357964  0.118971   0.141214
Eastern Asia                                    0.372167  0.127270   0.172833
Latin America and Caribbean                     0.438500  0.130692   0.142600
...                                                  ...       ...        ...
Southeastern Asia                               0.543778  0.033929   0.301778
Southern Asia                                   0.386286  0.183328   0.234714
Sub-Saharan Africa                              0.337278  0.104865   0.186806
Western Europe                                  0.482550  0.134865   0.221050

                                      Perceptions of corruption
                                  std                      mean       std
Region
Australia and New Zealand    0.001414                  0.335000  0.063640
Central and Eastern Europe   0.080813                  0.062750  0.064585
Eastern Asia                 0.089303                  0.119667  0.089484
Latin America and Caribbean  0.081276                  0.074850  0.031948
...                               ...                       ...       ...
Southeastern Asia            0.149387                  0.123444  0.135696
Southern Asia                0.074101                  0.093429  0.049699
Sub-Saharan Africa           0.068254                  0.088778  0.064836
Western Europe               0.100781                  0.221200  0.130844

[10 rows x 16 columns]

# data
I now have the following dataframes:
- CR18:  containing the main variables for 2019 with the region added and country as the index.
- df19: the Kaggle CSV dataset that matches the report for 2019 (data to end 2018)
- WH: the larger data file with data from 2008 onwards used in the analysis by the researchers
- whr18: the data from the 2019 report matching the kaggle data but without the ranking order. I have added the region.
- WH18: the data from the larger sheet filtered for 2018